:root {
  --bg: #38d32a;
  --muted: #2063e9;
}

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: #111827;
}

.container {
  margin: 2rem auto;
}

/* small utilities used in components*/
.task-item { background: rgb(204, 127, 127); }
