:root {
  --bg: #d9e716;
  --muted: #2063e9;
}

body {
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: #0c832a;
}

.container {
  margin: 2rem auto;
}

/* small utilities used in components*/
.task-item { background: rgb(221, 4, 167); }
